<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<body>

    <ul class="nav justify-content-end  bg-dark">
        <li class="nav-item">
            <a class="nav-link text-light" href="/map">Карта</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="/login">Вход</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="/registration">Регистрация</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="/settings">Настройки</a>
        </li>
    </ul>

<div class="container pt-5">
    <div class="row ">
        <div class="jumbotron ">
            <h1 class="display-4">Welcome!</h1>
            <p class="lead">Это сервис, позволяющий строить маршрут на Яндекс Карте по геоданным, сохраненным пользователем. Для сохранения геоданных необходимо зарегистрироваться, получить специальный ключ, после чего, воспользовавшись API, послать POST запрос с данными. </p>
            <hr class="my-4">
            <p>Подробная информация по использованию API.</p>
            <p class="lead">
                <a class="btn btn-outline-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
        </div>
    </div>
</div>
</body>
</html>