<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Карта</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://api-maps.yandex.ru/1.1/index.xml" type="text/javascript" ></script>
    <script  type="text/javascript"  th:inline="javascript">

        // Создает обработчик события window.onLoad
        YMaps.jQuery(function () {
            // Создает экземпляр карты и привязывает его к созданному контейнеру
            var map = new YMaps.Map(YMaps.jQuery("#YMapsID")[0]);

            // Устанавливает начальные параметры отображения карты: центр карты и коэффициент масштабирования
            map.setCenter(new YMaps.GeoPoint(39.64, 59.76), 5);

            //var point = new YMaps.GeoPoint(37.609218,55.753559); // Координаты центра Москвы
            map.setType(YMaps.MapType.HYBRID);
            map.addControl(new YMaps.TypeControl());
            map.addControl(new YMaps.ToolBar());
            map.addControl(new YMaps.Zoom());
            map.addControl(new YMaps.ScaleLine());
            map.enableScrollZoom();

            map.addOverlay(new YMaps.Polyline([ new YMaps.GeoPoint(37.7,55.7),
                new YMaps.GeoPoint(37.7,55.8),
                new YMaps.GeoPoint(37.6,55.7),
                new YMaps.GeoPoint(37.8,55.8)]));

            // Создает метку в центре Москвы
            var placemark = new YMaps.Placemark(new YMaps.GeoPoint(37.609218,55.753559));

            // Устанавливает содержимое балуна
            placemark.name = "Москва";
            placemark.description = "Столица Российской Федерации";

            // Добавляет метку на карту
            map.addOverlay(placemark);

            ///////////////////////////////////////////////

            let line = new YMaps.Polyline();
            let lat = /*[[${lat}]]*/ [];
            let lng = /*[[${lng}]]*/ [];
            for (var i=0;i<lat.length;i++) {
                line.addPoint(new YMaps.GeoPoint(lat[i],lng[i]));
            }
            map.addOverlay(line);
        })
    </script>
</head>

<body>
<ul class="nav justify-content-end  bg-dark">
    <li class="nav-item">
        <a class="nav-link text-light" href="/login">Главная</a>
    </li>
    <li class="nav-item">
        <form  th:action="@{/logout}" method="post">
            <input type="submit" value="Выход" class="btn btn-dark"></input>
        </form>
    </li>
</ul>

<div class="container">
    <div class="row  pt-5 ml-3 mr-3 mb-5">
        <form  th:action="@{/map}" method="get">
            <h3>Отфильтровать координаты по дате</h3>
            <div class="form-group ">
                <label for="startDate" >От :</label>
                <input id="startDate" class="form-control" type="datetime-local" name="startDate">
            </div>
            <div class="form-group ">
                <label for="endDate" >До :</label>
                <input id="endDate" class="form-control" type="datetime-local" name="endDate">
            </div>
            <button type="submit" class="btn btn-primary">Выбрать</button>
        </form>
    </div>


    <div id="YMapsID" style="width:100% ;height:800px; margin:0 auto"></div>

    <div th:each="c: ${coordinates}">
        <h4 th:text="${c.getId()}"></h4>
        <h5 th:text="${c.getLatitude()}"></h5>
        <h5 th:text="${c.getLongitude()}"></h5>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script></body>

</body>
</html>