<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Регистрация</title>
</head>
<body>

<form th:action="@{/registration}" method="post">
    <div><label> Логин : <input type="text" id="username" name="username"/> </label></div>
    <div><label> Пароль: <input type="password" id="password" name="password"/> </label></div>
    <div><input type="submit" value="Зарегистрировать"/></div>
</form>
</body>
</html>